USE [master]
GO
/****** Object:  Database [DBRedSocial]    Script Date: 29/9/2026 08:39:36 ******/
CREATE DATABASE [DBRedSocial]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBRedSocial', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DBRedSocial.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBRedSocial_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DBRedSocial_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBRedSocial].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBRedSocial]
GO
/****** Object:  User [alumno]    Script Date: 29/9/2026 08:39:36 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Comentarios]    Script Date: 29/9/2026 08:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comentarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPublicacion] [int] NOT NULL,
	[IdUsuarioComenta] [int] NOT NULL,
	[Texto] [text] NOT NULL,
	[FechaComentario] [datetime] NOT NULL,
 CONSTRAINT [PK_Comentarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publicaciones]    Script Date: 29/9/2026 08:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publicaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Titulo] [varchar](200) NULL,
	[Descripcion] [text] NULL,
	[Imagen] [varchar](50) NULL,
	[FechaPublicacion] [datetime] NULL,
 CONSTRAINT [PK_Publicaciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PublicacionesMeGusta]    Script Date: 29/9/2026 08:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicacionesMeGusta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPublicación] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
 CONSTRAINT [PK_PublicacionesMeGusta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 29/9/2026 08:39:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NULL,
	[Contraseña] [varchar](50) NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Comentarios] ON 

INSERT [dbo].[Comentarios] ([Id], [IdPublicacion], [IdUsuarioComenta], [Texto], [FechaComentario]) VALUES (1, 1, 2, N'¡Qué lindo Bariloche! Tengo muchas ganas de volver.', CAST(N'2026-09-01T11:15:00.000' AS DateTime))
INSERT [dbo].[Comentarios] ([Id], [IdPublicacion], [IdUsuarioComenta], [Texto], [FechaComentario]) VALUES (2, 1, 3, N'Muy buena foto. ¿Fuiste al Cerro Catedral?', CAST(N'2026-09-01T12:20:00.000' AS DateTime))
INSERT [dbo].[Comentarios] ([Id], [IdPublicacion], [IdUsuarioComenta], [Texto], [FechaComentario]) VALUES (3, 2, 4, N'La próxima me sumo al partido.', CAST(N'2026-09-05T19:10:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Comentarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Publicaciones] ON 

INSERT [dbo].[Publicaciones] ([Id], [IdUsuario], [Titulo], [Descripcion], [Imagen], [FechaPublicacion]) VALUES (1, 1, N'Mi viaje a Bariloche', N'Les comparto una foto de mi viaje a Bariloche. Un lugar increíble.', N'bariloche.jpg', CAST(N'2026-09-01T10:30:00.000' AS DateTime))
INSERT [dbo].[Publicaciones] ([Id], [IdUsuario], [Titulo], [Descripcion], [Imagen], [FechaPublicacion]) VALUES (2, 1, N'Tarde de fútbol', N'Partido con amigos después de mucho tiempo. Terminamos agotados.', N'futbol.jpg', CAST(N'2026-09-05T18:15:00.000' AS DateTime))
INSERT [dbo].[Publicaciones] ([Id], [IdUsuario], [Titulo], [Descripcion], [Imagen], [FechaPublicacion]) VALUES (3, 1, N'Mi nuevo proyecto', N'Estoy comenzando un nuevo proyecto de programación y quería compartirlo.', N'proyecto.jpg', CAST(N'2026-09-12T16:40:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Publicaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[PublicacionesMeGusta] ON 

INSERT [dbo].[PublicacionesMeGusta] ([Id], [IdPublicación], [IdUsuario]) VALUES (1, 1, 2)
INSERT [dbo].[PublicacionesMeGusta] ([Id], [IdPublicación], [IdUsuario]) VALUES (2, 1, 3)
INSERT [dbo].[PublicacionesMeGusta] ([Id], [IdPublicación], [IdUsuario]) VALUES (3, 1, 4)
SET IDENTITY_INSERT [dbo].[PublicacionesMeGusta] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [NombreUsuario], [Contraseña], [Nombre], [Apellido]) VALUES (1, N'juanperez', N'9syz6NYJASI4wLOeYLLJYys83t6R4DXa0d5DRpdo9Mw=', N'Juan', N'Perez')
INSERT [dbo].[Usuarios] ([Id], [NombreUsuario], [Contraseña], [Nombre], [Apellido]) VALUES (2, N'sofiamartin', N'sofia123', N'Sofia', N'Martin')
INSERT [dbo].[Usuarios] ([Id], [NombreUsuario], [Contraseña], [Nombre], [Apellido]) VALUES (3, N'lucasgarcia', N'lucas123', N'Lucas', N'Garcia')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
ALTER TABLE [dbo].[Comentarios]  WITH CHECK ADD  CONSTRAINT [FK_Comentarios_Publicaciones] FOREIGN KEY([IdPublicacion])
REFERENCES [dbo].[Publicaciones] ([Id])
GO
ALTER TABLE [dbo].[Comentarios] CHECK CONSTRAINT [FK_Comentarios_Publicaciones]
GO
ALTER TABLE [dbo].[Comentarios]  WITH CHECK ADD  CONSTRAINT [FK_Comentarios_Usuarios] FOREIGN KEY([IdUsuarioComenta])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Comentarios] CHECK CONSTRAINT [FK_Comentarios_Usuarios]
GO
ALTER TABLE [dbo].[Publicaciones]  WITH CHECK ADD  CONSTRAINT [FK_Publicaciones_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Publicaciones] CHECK CONSTRAINT [FK_Publicaciones_Usuarios]
GO
ALTER TABLE [dbo].[PublicacionesMeGusta]  WITH CHECK ADD  CONSTRAINT [FK_PublicacionesMeGusta_Publicaciones] FOREIGN KEY([IdPublicación])
REFERENCES [dbo].[Publicaciones] ([Id])
GO
ALTER TABLE [dbo].[PublicacionesMeGusta] CHECK CONSTRAINT [FK_PublicacionesMeGusta_Publicaciones]
GO
ALTER TABLE [dbo].[PublicacionesMeGusta]  WITH CHECK ADD  CONSTRAINT [FK_PublicacionesMeGusta_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[PublicacionesMeGusta] CHECK CONSTRAINT [FK_PublicacionesMeGusta_Usuarios]
GO
USE [master]
GO
